<div class="footer">
    <p>关于腾讯 | About Tencent | 服务协议 | 隐私政策 | 开放平台 | 广告服务 | 商务洽谈 | 腾讯招聘 | 腾讯公益 | 客服中心 | 网站导航 | 客户端下载 | 版权所有</p>
    <p>粤府新函[2001]87号 粤网文[2014]0633-233号 网络视听许可证1904073号 增值电信业务经营许可证：粤B2-20090059 B2-20090028 </p>
    <p>Copyright © 1998 - 2016 Tencent. All Rights Reserved</p>
</div>


